/*-------------------------------------------- Globales---------------------------------------------------------- */
@import url(footer.css);

html {
    box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
  font-family: 'Raleway', sans-serif;
  background-color: #d8d8d8;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.contenedor {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}
h4 {
  font-size: 19px;
}


p {
  font-size: 18px;
}

li {
  font-size: 18px;
  line-height: 30px;
}

img {
  max-width: 100%;
}

.IMGlogo {
  width: 250px;
  height: auto;
}

.raya h1::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  margin-top: 1rem;
  background-color: #ff0000;
}
.raya h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  margin-top: 10px;
  background-color: #00b7cf;
}

.raya h3::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  margin-top: 10px;
  background-color: #00b7cf;
}

.raya h4::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  margin-top: 10px;
  background-color: #00b7cf;
}

.centrar {
  text-align: center;
  align-items: center;
}

.link-decoracion {
  text-decoration: none;
  color: #000000;
}

.link-decoracion :hover {
  color: #a13fda;
}
.link-decoracion2 {
  text-decoration: none;
  color: #833cf5;
}

.quitar-espacio {
  margin-top: -80px;
}

.espacio {
  margin-top: 50px;
}

.espacio-banner {
  margin-top: 150px;
}
.color-grey {
  color: #757575;
}

.color-red {
  color: #d14141;
}



hr.separadora {
  border-top: 2px solid rgb(224, 224, 224);
  border-radius: 5px;

}


.sombra{
  box-shadow: 0px 5px 15px 0px rgb(112, 112, 122, 0.54);
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 0 0 20px 0;
}


/*---------------------------------------------------- Navegador---------------------------------------------------------- */

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 60px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}

.content div {
  font-size: 4rem;
  font-weight: 700;
}

/*---------------------------------------------------- Media query---------------------------------------------------------- */

@media (min-width: 770px) {
  .dos-columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .dos-columnas2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .tres-columnas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  .Footer {
    margin: 40px 150px;
    width: 700px;
  }

  .quitar-espacior {
    margin-top: -80px;
  }

  .container-exp {
    width: 500px;
    margin-left: 30px;
  }
}

/*-------------------------------------------------- Index---------------------------------------------------------- */

.Portada {
  background-image: url(../Img/Portada.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 20rem;
}

.IMGIndex {
  width: 50rem;
  height: auto;
}

.IMGMe {
  width: 20rem;
  height: auto;
  margin-left: 15rem;
}



.container-Th {
  background-color: #eeeeee;
  padding: 5px 5px;
  border-radius: 10px;
}

.container-Intereses {
  background-color: #eeeeee;
  padding: 5px 5px;
  border-radius: 10px;
  margin-top: 10px;
}

.Img-footer {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
}

.dos-columnas-footer {
  display: grid;
  grid-template-columns: 2fr 10fr;
  column-gap: 1px;
}

/*-------------------------------------------------- Proyectos---------------------------------------------------------- */

@media (min-width: 770px) {
  .Contenedor-img3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  }
}

@media (max-width: 1240px) {
  .Portada-menu {
    background-size: cover;
  }
  .ir-arriba img{
    height: 25px;
    width: 25px;
  }
}

.Contorno {
   
    flex-basis: calc(33.3% - 1rem);
    box-shadow: 10px 10px 15px rgba(63, 63, 63, 0.7);
}

.Contorno img{
  border-radius: 5px;
}

/*-------------------------------------------------- Recursos ---------------------------------------------------------- */


.Contorno2 {
    margin:  0rem  0rem  0rem  0rem ;
    flex-basis: calc(33.3% - 1rem);
    border-radius: 1rem;
    text-align: center;

}

.Contorno2 img{
  width: 250px;
  height: 200px;
}

.botonesMenu{
  width: 200px;
  height: 80px;
  background-color: #E42A22;
  border-radius: 7px;
  border: #e42a22 solid 1px;
  box-shadow: 10px 10px 15px rgba(63, 63, 63, 0.7);
  border: 10px;
}

.botonesMenu a{
 color: #eeeeee;
 text-decoration: none;
}

.botonesMenu h2{
  padding: 20px;
  cursor: pointer;
 }

 .Portada-menu {
  background-image: url(../Img/Menuu.jpg);
  background-position: center;
  height: 30rem;
}
.ir-arriba {
	display:none;
	background:#E42A22;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
  padding: 10px;
  border-radius: 50px;
}

.ir-arriba img{
  height: 40px;
  width: 40px;
}

.img-menu{
  display: none;
  padding: 21px;
}
